In [3]:
import pandas as pd
import numpy as np
import os 
import seaborn as  sns

In [6]:
PE=pd.read_csv("Population Estimates (Persons in April).csv")
EP=pd.read_csv("Estimated Population (Persons in April).csv")
EP2=pd.read_csv("Estimated Population (Persons in April)2.csv")
EE=pd.read_csv("Estimated Emigration (Persons in April).csv")
EI=pd.read_csv("Estimated Immigration (Persons in April).csv")
EM=pd.read_csv("Estimated Migration Aged 15 Years and Over (Persons in April).csv")
EM2=pd.read_csv("Estimated Migration Aged 15 Years and Over (Persons in April) 2.csv")
EMM=pd.read_csv("Estimated Migration (Persons in April).csv")

In [9]:
EMM.head()

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02076V03371,Age Group,C02199V02655,Sex,C02542V03077,Inward or Outward Flow,UNIT,VALUE
0,PEA03,Estimated Migration (Persons in April),1987,1987,-,All ages,-,Both sexes,1,Net migration,Thousand,-23.0
1,PEA03,Estimated Migration (Persons in April),1987,1987,-,All ages,-,Both sexes,4,Emigrants: All destinations,Thousand,40.2
2,PEA03,Estimated Migration (Persons in April),1987,1987,-,All ages,-,Both sexes,5,Immigrants: All origins,Thousand,17.2
3,PEA03,Estimated Migration (Persons in April),1987,1987,-,All ages,1,Male,1,Net migration,Thousand,NaN
4,PEA03,Estimated Migration (Persons in April),1987,1987,-,All ages,1,Male,4,Emigrants: All destinations,Thousand,NaN

In [10]:
EM.head()

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02199V02655,Sex,C02757V03327,Education Level,C02542V03077,Inward or Outward Flow,UNIT,VALUE
0,PEA19,Estimated Migration Aged 15 Years and Over (P...,2009,2009,-,Both sexes,45,Higher secondary and below,1,Net migration,Thousand,-9.7
1,PEA19,Estimated Migration Aged 15 Years and Over (P...,2009,2009,-,Both sexes,45,Higher secondary and below,4,Emigrants: All destinations,Thousand,31.6
2,PEA19,Estimated Migration Aged 15 Years and Over (P...,2009,2009,-,Both sexes,45,Higher secondary and below,5,Immigrants: All origins,Thousand,21.9
3,PEA19,Estimated Migration Aged 15 Years and Over (P...,2009,2009,-,Both sexes,65,Post leaving cert,1,Net migration,Thousand,-0.2
4,PEA19,Estimated Migration Aged 15 Years and Over (P...,2009,2009,-,Both sexes,65,Post leaving cert,4,Emigrants: All destinations,Thousand,6.7

In [11]:
EM2.head()

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02704V03272,Principal Economic Status,C02199V02655,Sex,C02542V03077,Inward or Outward Flow,UNIT,VALUE
0,PEA20,Estimated Migration Aged 15 Years and Over (Pe...,2009,2009,-6,All persons,-,Both sexes,1,Net migration,Thousand,-0.5
1,PEA20,Estimated Migration Aged 15 Years and Over (Pe...,2009,2009,-6,All persons,-,Both sexes,4,Emigrants: All destinations,Thousand,69.7
2,PEA20,Estimated Migration Aged 15 Years and Over (Pe...,2009,2009,-6,All persons,-,Both sexes,5,Immigrants: All origins,Thousand,69.1
3,PEA20,Estimated Migration Aged 15 Years and Over (Pe...,2009,2009,-6,All persons,1,Male,1,Net migration,Thousand,-6.2
4,PEA20,Estimated Migration Aged 15 Years and Over (Pe...,2009,2009,-6,All persons,1,Male,4,Emigrants: All destinations,Thousand,40.8